<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RoundingNumber" value="2"/>
    <add key="LoggiaAreaCoef" value="0,5"/>
    <add key="BalconyAreaCoef" value="0,3"/>
    <add key="DefaultAreaCoef" value="1,0"/>
    <add key="RoomUpperOffset" value="3300"/>
    <add key="RoomLowerOffset" value="0"/>
    <add key="BasicRoomTag" value="Имя" />
    <add key="BasicRoomTagId" value="159738" />
    <add key="EntryDoorType" value="960х2080h В Л" />
    <add key="EntryDoorTypeId" value="212862" />
    <add key="DeleteMOP" value="True"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>